@model IEnumerable<Contato>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row"></th>
                    <td>@item.Nome</td>
                    <td>@item.Sobrenome</td>
                    <td>@item.Telefone</td>
                    <td>@item.Email</td>
                </tr>
            }
        }
    </tbody>
</table>